<div class="ui row">
    <span>Name: {{subreddit.name}}</span><br/>
    <span>URL: {{subreddit.url}}</span><br/>
    <span>Description: {{subreddit.description}}</span>
</div>
<div class="ui row">
    <button {{action "getSubreddit"}} class="ui massive violet button">Random Subreddit</button>
</div>
