<div class="ui middle aligned center aligned row">
    <div class="column">
        <div class="ui blue buttons">
            <button class="ui massive button">Random</button>
            <button class="ui massive button">Search</button>
            <button class="ui massive button">Discover</button>
        </div>
    </div>
{{outlet}}
</div>
