<div class="ui middle aligned center aligned row">
    <div class="column">
        <div class="ui blue buttons">
            {{#link-to 'random-walk' classNames='ui massive button'}}
                Random
            {{/link-to}}
            {{#link-to 'search-subreddits' classNames='ui massive button'}}
                Search
            {{/link-to}}
            {{#link-to 'discover-subreddits' classNames='ui massive button'}}
                Discover
            {{/link-to}}
        </div>
    </div>
{{outlet}}
</div>
